<section class="advantages">
  <div class="container">
    <h2 class="">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <svg class="" width="" height="">
          <use href=""></use>
        </svg>
        <p class="advantages__amount"></p>
        <p class="advantages__text"></p>
      </li>
      <li class="advantages__item">
        <svg class="" width="" height="">
          <use href=""></use>
        </svg>
        <p class="advantages__amount"></p>
        <p class="advantages__text"></p>
      </li>
      <li class="advantages__item">
        <svg class="" width="" height="">
          <use href=""></use>
        </svg>
        <p class="advantages__amount"></p>
        <p class="advantages__text"></p>
      </li>
    </ul>
  </div>
</section>
