<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <svg class="" width="33" height="50">
          <use href="#"></use>
        </svg>
        <p class="advantages__amount">721</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages__item">
        <svg class="" width="50" height="50">
          <use href="#"></use>
        </svg>
        <p class="advantages__amount">16kg</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages__item">
        <svg class="" width="44" height="50">
          <use href="#"></use>
        </svg>
        <p class="advantages__amount">84</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
