<section class="contacts">
    <h2 class="visually-hidden">Contacts</h2>
    <div class="contacts__container container">
        <ul class="contact__set">
            <li class="contacts__card">
                <p class="contact__branch">CAFE</p>
                <div class="branch__box branch__place">
                    <h3>Chicago</h3>
                    <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>

                <div class="branch__box branch__scedule">
                    <p>Monday - Friday</p>
                    <time datatime="06:00 AM">06:00 AM</time> -
                    <time datatime="10:00 PM">10:00 PM</time>
                    <p>Saturday - Sunday</p>
                    <time datatime="08:00 AM">08:00 AM</time> -
                    <time datatime="16:00 PM">16:00 PM</time>
                </div>

                <div class="branch__contact">
                    <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com<">noreply@envato.com</a>
                </div>

            </li>
            <li class="contacts__card">
                <p class="contact__branch">FOODTRUCK</p>

                <div class="branch__box branch__place">
                    <h3>Los Angeles</h3>
                    <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>

                <div class="branch__box branch__scedule">
                    <p>Monday - Friday</p>
                    <time datatime="06:00 AM">06:00 AM</time> -
                    <time datatime="10:00 PM">10:00 PM</time>
                    <p>Saturday - Sunday</p>
                    <time datatime="08:00 AM">08:00 AM</time> -
                    <time datatime="16:00 PM">16:00 PM</time>
                </div>

                <div class="branch__contact">
                    <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com<">noreply@envato.com</a>
                </div>
            </li>
            <li class="contacts__card">
                <p class="contact__branch">CAFE</p>

                <div class="branch__box branch__place">
                    <h3>New York</h3>
                    <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>

                <div class="branch__box branch__scedule">
                    <p>Monday - Friday</p>
                    <time datatime="06:00 AM">06:00 AM</time> -
                    <time datatime="10:00 PM">10:00 PM</time>
                    <p>Saturday - Sunday</p>
                    <time datatime="08:00 AM">08:00 AM</time> -
                    <time datatime="16:00 PM">16:00 PM</time>
                </div>

                <div class="branch__contact">
                    <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com<">noreply@envato.com</a>
                </div>
            </li>
        </ul>

        <div class="contact__btn">
            <button class="btn btn--red" type="button">Our Locations</button>
            <button class="btn btn--white" type="button">Franchise</button>
        </div>
    </div>

</section>