<section class="contacts">
    <h2 class="visually-hidden">Contacts</h2>
    <div class="contacts__container container">
        <ul class="contact__set">
            <li class="contacts__card">
                <p class="contact__branch">CAFE</p>
                <div class="branch__box branch__place">
                    <h3 class="branch__city">Chicago</h3>
                    <p class="branch__descr">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>

                <div class="branch__box">
                    <ul class="branch__scedule">
                        <li class="scedule__item">
                            <p class="branch__days">Monday - Friday</p>
                            <span class='branch__time'>
                                <time datatime="06:00 AM">06:00 AM</time> -
                                <time datatime="10:00 PM">10:00 PM</time>
                            </span>
                        </li>
                        <li class="scedule__item">
                            <p class="branch__days">Saturday - Sunday</p>
                            <span class='branch__time'>
                                <time datatime="08:00 AM">08:00 AM</time> -
                                <time datatime="16:00 PM">16:00 PM</time>
                            </span>
                        </li>
                    </ul>
                </div>

                <div class="branch__contact">
                    <a class="contact__item" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                    <a class="contact__item" href="mailto:noreply@envato.com<">noreply@envato.com</a>
                </div>

            </li>
            <li class="contacts__card">
                <p class="contact__branch contact__branch--green">FOODTRUCK</p>

                <div class="branch__box branch__place">
                    <h3 class="branch__city">Los Angeles</h3>
                    <p class="branch__descr">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>

                <div class="branch__box">
                    <ul class="branch__scedule">
                        <li class="scedule__item">
                            <p class="branch__days">Monday - Friday</p>
                            <span class='branch__time'>
                                <time datatime="06:00 AM">06:00 AM</time> -
                                <time datatime="10:00 PM">10:00 PM</time>
                            </span>
                        </li>
                        <li class="scedule__item">
                            <p class="branch__days">Saturday - Sunday</p>
                            <span class='branch__time'>
                                <time datatime="08:00 AM">08:00 AM</time> -
                                <time datatime="16:00 PM">16:00 PM</time>
                            </span>
                        </li>
                    </ul>
                </div>

                <div class="branch__contact">
                    <a class="contact__item" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                    <a class="contact__item" href="mailto:noreply@envato.com<">noreply@envato.com</a>
                </div>
            </li>
            <li class="contacts__card">
                <p class="contact__branch">CAFE</p>

                <div class="branch__box branch__place">
                    <h3 class="branch__city">New York</h3>
                    <p class="branch__descr">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>

                <div class="branch__box">
                    <ul class="branch__scedule">
                        <li class="scedule__item">
                            <p class="branch__days">Monday - Friday</p>
                            <span class='branch__time'>
                                <time datatime="06:00 AM">06:00 AM</time> -
                                <time datatime="10:00 PM">10:00 PM</time>
                            </span>
                        </li>
                        <li class="scedule__item">
                            <p class="branch__days">Saturday - Sunday</p>
                            <span class='branch__time'>
                                <time datatime="08:00 AM">08:00 AM</time> -
                                <time datatime="16:00 PM">16:00 PM</time>
                            </span>
                        </li>
                    </ul>
                </div>

                <div class="branch__contact">
                    <a class="contact__item" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                    <a class="contact__item" href="mailto:noreply@envato.com<">noreply@envato.com</a>
                </div>
            </li>
        </ul>

        <div class="contact__btn">
            <button class="btn btn--red btn__with-icon" type="button">Our Locations
                <svg class="btn__icon" width="4" height="8">
                    <use href="./images/icons.svg#icon-arrow-right"></use>
                </svg>
            </button>
            <button class="btn btn--white" type="button">Franchise</button>
        </div>
    </div>

</section>