<section class="customer container">
  <h2 class="customer__title">reviews</h2>
  <article class="swiper">
    <div class="slider">
      <div class="customer__media">
        <div class="img customer__img">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/5-testimonials/testimonials_1-L.jpg    1x,
                ./images/5-testimonials/testimonials_1-L@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/5-testimonials/testimonials_1-M.jpg    1x,
                ./images/5-testimonials/testimonials_1-M@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/5-testimonials/testimonials_1-S.png    1x,
                ./images/5-testimonials/testimonials_1-S@2x.png 2x
              "
              type="image/jpg"
            />
            <img
              src="./images/5-testimonials/testimonials_1-S.png"
              alt="picture Emily"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="customer__text">
          <p class="customer__text--style">
            Great store with a wide variety of delicious ice cream! The best ice
            cream in the world!!!
          </p>
        </div>
      </div>
      <div class="customer__icon">
        <p class="customer__icon-name">Emily, Los Angeles</p>
        <div class="customer__icon__svg">
          <ul class="customer__icon--page">
            <li class="customer__link">
              <svg class="icon" width="12" height="12">
                <use href="./images/icons.svg#icon-house"></use>
              </svg>
            </li>
            <li class="customer__link">
              <svg class="icon" width="12" height="12">
                <use href="#"></use>
              </svg>
            </li>
            <li class="customer__link">
              <svg class="icon" width="12" height="12">
                <use href="#"></use>
              </svg>
            </li>
          </ul>
        </div>
      </div>
      <div class="customer__media">
        <div class="img customer__img">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/5-testimonials/testimonials_2-L.png    1x,
                ./images/5-testimonials/testimonials_2-L@2x.png 2x
              "
              type="image/png"
            />
            <source media="(min-width: 768px)" srcset="" type="image/jpg" />
            <source media="(max-width: 767px)" srcset="" type="image/jpg" />
            <img src="#" alt="picture Nancy" loading="lazy" />
          </picture>
        </div>
        <div class="customer__text">
          <p class="customer__text--style">
            The best, tastiest ice cream I have ever tasted! I'll be back
            tomorrow for a new batch!
          </p>
        </div>
      </div>
      <div class="customer__icon">
        <p class="customer__icon-name">Nancy, Chicago</p>
        <div class="customer__icon__svg">
          <ul class="customer__icon--page">
            <li class="customer__link">
              <svg class="icon" width="12" height="12">
                <use href="./images/icons.svg#icon-house"></use>
              </svg>
            </li>
            <li class="customer__link">
              <svg class="icon" width="12" height="12">
                <use href="#"></use>
              </svg>
            </li>
            <li class="customer__link">
              <svg class="icon" width="12" height="12">
                <use href="#"></use>
              </svg>
            </li>
          </ul>
        </div>
      </div>
      <div class="customer__media">
        <div class="img customer__img">
          <picture>
            <source media="(min-width: 1200px)" srcset="" type="image/jpg" />
            <source media="(min-width: 768px)" srcset="" type="image/jpg" />
            <source media="(max-width: 767px)" srcset="" type="image/jpg" />
            <img src="#" alt="picture Katty" loading="lazy" />
          </picture>
        </div>
        <div class="customer__text">
          <p class="customer__text--style">
            this is something incredible! I remembered the taste of childhood!
          </p>
        </div>
      </div>
      <div class="customer__icon">
        <p class="customer__icon-name">Katty, New York</p>
        <div class="customer__icon__svg">
          <ul class="customer__icon--page">
            <li class="customer__link">
              <svg class="icon" width="12" height="12">
                <use href="./images/icons.svg#icon-house"></use>
              </svg>
            </li>
            <li class="customer__link">
              <svg class="icon" width="12" height="12">
                <use href="#"></use>
              </svg>
            </li>
            <li class="customer__link">
              <svg class="icon" width="12" height="12">
                <use href="#"></use>
              </svg>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </article>
</section>
