<section class="customer container">
  <h2 class="customer__title">reviews</h2>
  <article class="swiper">
    <h3 class="customer__title">reviews</h3>
    <div class="customer__media">
      <div class="img customer__img">
        <picture>
          <source media="(min-width: 1200px)" srcset="" type="image/jpg" />
          <source media="(min-width: 768px)" srcset="" type="image/jpg" />
          <source media="(max-width: 767px)" srcset="" type="image/jpg" />
          <img src="" alt="фото Эмили" loading="lazy" />
        </picture>
      </div>
      <div class="customer__text">
        <p class="customer__text--style">
          Great store with a wide variety of delicious ice cream! The best ice
          cream in the world!!!
        </p>
      </div>
    </div>
    <div class="customer__icon">
      <p class="customer__icon-name">Emily, Los Angeles</p>
      <div class="customer__icon__svg">
        <ul class="customer__icon--page">
          <li class="customer__link">
            <svg class="icon" width="12" height="12">
              <use href="#"></use>
            </svg>
          </li>
          <li class="customer__link">
            <svg class="icon" width="12" height="12">
              <use href="#"></use>
            </svg>
          </li>
          <li class="customer__link">
            <svg class="icon" width="12" height="12">
              <use href="#"></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>
  </article>
</section>
