<footer class="footer container">
  <div class="">
    <div class="footer__group">
      <h1>homemade ice cream made</h1>
      <p>with passion</p>
    </div>
    <div>
      <ul class="team__list">
        <li class="team__item">
          <a href="https://www.instagram.com/" class="team__link icon" aria-label="instagram" target="_blank"
            rel="noopener noreferrer">
            <svg class="team__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="team__item">
          <a href="https://twitter.com/?lang=uk" class="team__link icon" aria-label="twitter" target="_blank"
            rel="noopener noreferrer">
            <svg class="team__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="team__item">
          <a href="https://uk-ua.facebook.com/" class="team__link icon" aria-label="facebook" target="_blank"
            rel="noopener noreferrer">
            <svg class="team__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <div>
        <a class="footer__tell" href="tel:+380961111111">+61 (0) 383 766 284</a>
        <p class="footer__tell--text">Feel free to contact</p>
      </div>

    </div>
  </div>
  <div class="footer__copyright">
    <p class="copyright">© 2022 - IceCream. All Rights Reserved.</p>
  </div>

</footer>