<footer>
  <div>
    <h1>homemade ice cream made</h1>
    <p>with passion</p>
  </div>
  <div>
    <ul>
      <ul class="team__list">
        <li class="team__item">
          <a
            href="https://www.instagram.com/"
            class="team__link icon"
            aria-label="instagram"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="team__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="team__item">
          <a
            href="https://twitter.com/?lang=uk"
            class="team__link icon"
            aria-label="twitter"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="team__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="team__item">
          <a
            href="https://uk-ua.facebook.com/"
            class="team__link icon"
            aria-label="facebook"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="team__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p>Feel free to contact</p>
      <li>
        <a
          class="footer-address__link"
          href="tel:+61 (0) 383 766 284"
          aria-label="tel"
          >+610383766284</a
        >
      </li>
    </ul>
  </div>
</footer>
