<section class="fadeInRightBig animated wow gallery__section">
    <div class="gallery__container fadeInRightBig wow animated">
        <h2 class="visually-hidden">Gallery</h2>

        <ul class="gallery__list list">
            <li class="gallery__item-1">
                <div class="gallery__thumb">
                    <picture>
                        <source media="(min-width: 1200px)"
                            srcset="./images/gallery/pc/1home.webp, ./images/gallery/pc/1home@2x.webp 2x, ./images/gallery/pc/1home@3x.webp 3x"
                            type="image/webp">

                        <source media="(min-width: 1200px)"
                            srcset="./images/gallery/pc/1home.jpg, ./images/gallery/pc/1home@2x.jpg 2x, ./images/gallery/pc/1home@3x.jpg 3x"
                            type="image/jpg">

                        <source media=" (min-width: 768px)"
                            srcset="./images/gallery/tablet/1home.webp, ./images/gallery/tablet/1home@2x.webp 2x, ./images/gallery/tablet/1home@3x.webp 3x"
                            type="image/webp">

                        <source media=" (min-width: 768px)"
                            srcset="./images/gallery/tablet/1home.jpg, ./images/gallery/tablet/1home@2x.jpg 2x, ./images/gallery/tablet/1home@3x.jpg 3x"
                            type="image/jpg">

                        <source media="(max-width: 767px)"
                            srcset="./images/gallery/mob/1home.webp, ./images/gallery/mob/1home@2x.webp 2x, ./images/gallery/mob/1home@3x.webp 3x"
                            type="image/webp">

                        <source media="(max-width: 767px)"
                            srcset="./images/gallery/mob/1home.jpg, ./images/gallery/mob/1home@2x.jpg 2x, ./images/gallery/mob/1home@3x.jpg 3x"
                            type="image/jpg">
                        <img src="./images/gallery/mob/1home.jpg" alt="Ice-Cream" width="138" height="138.68"/>
                    </picture>
                </div>
            </li>

            <li class="gallery__item-2">
                <div class="gallery__thumb">
                    <picture>
                        <source media="(min-width: 1200px)"
                            srcset="./images/gallery/pc/2home.webp, ./images/gallery/pc/2home@2x.webp 2x, ./images/gallery/pc/2home@3x.webp 3x"
                            type="image/webp">

                        <source media="(min-width: 1200px)"
                            srcset="./images/gallery/pc/2home.jpg, ./images/gallery/pc/2home@2x.jpg 2x, ./images/gallery/pc/2home@3x.jpg 3x"
                            type="image/jpg">

                        <source media=" (min-width: 768px)"
                            srcset="./images/gallery/tablet/2home.webp, ./images/gallery/tablet/2home@2x.webp 2x, ./images/gallery/tablet/2home@3x.webp 3x"
                            type="image/webp">

                        <source media=" (min-width: 768px)"
                            srcset="./images/gallery/tablet/2home.jpg, ./images/gallery/tablet/2home@2x.jpg 2x, ./images/gallery/tablet/2home@3x.jpg 3x"
                            type="image/jpg">

                        <source media="(max-width: 767px)"
                            srcset="./images/gallery/mob/2home.webp, ./images/gallery/mob/2home@2x.webp 2x, ./images/gallery/mob/2home@3x.webp 3x"
                            type="image/webp">

                        <source media="(max-width: 767px)"
                            srcset="./images/gallery/mob/2home.jpg, ./images/gallery/mob/2home@2x.jpg 2x, ./images/gallery/mob/2home@3x.jpg 3x"
                            type="image/jpg">
                        <img src="./images/gallery/mob/2home.jpg" alt="Ice-Cream" width="138" height="138.68"/>
                    </picture>
                </div>
            </li>

            <li class="gallery__item-3">
                <div class="gallery__thumb">
                    <picture>
                        <source media="(min-width: 1200px)"
                            srcset="./images/gallery/pc/3home.webp, ./images/gallery/pc/3home@2x.webp 2x, ./images/gallery/pc/3home@3x.webp 3x"
                            type="image/webp">

                        <source media="(min-width: 1200px)"
                            srcset="./images/gallery/pc/3home.jpg, ./images/gallery/pc/3home@2x.jpg 2x, ./images/gallery/pc/3home@3x.jpg 3x"
                            type="image/jpg">

                        <source media=" (min-width: 768px)"
                            srcset="./images/gallery/tablet/3home.webp, ./images/gallery/tablet/3home@2x.webp 2x, ./images/gallery/tablet/3home@3x.webp 3x"
                            type="image/webp">

                        <source media=" (min-width: 768px)"
                            srcset="./images/gallery/tablet/3home.jpg, ./images/gallery/tablet/3home@2x.jpg 2x, ./images/gallery/tablet/3home@3x.jpg 3x"
                            type="image/jpg">

                        <source media="(max-width: 767px)"
                            srcset="./images/gallery/mob/3home.webp, ./images/gallery/mob/3home@2x.webp 2x, ./images/gallery/mob/3home@3x.webp 3x"
                            type="image/webp">

                        <source media="(max-width: 767px)"
                            srcset="./images/gallery/mob/3home.jpg, ./images/gallery/mob/3home@2x.jpg 2x, ./images/gallery/mob/3home@3x.jpg 3x"
                            type="image/jpg">
                        <img src="./images/gallery/mob/3home.jpg" alt="Ice-Cream" width="138" height="138.68"/>
                    </picture>
                </div>
            </li>

            <li class="gallery__item-4">
                <div class="gallery__thumb">
                    <picture>
                        <source media="(min-width: 1200px)"
                            srcset="./images/gallery/pc/4home.webp, ./images/gallery/pc/4home@2x.webp 2x, ./images/gallery/pc/4home@3x.webp 3x"
                            type="image/webp">

                        <source media="(min-width: 1200px)"
                            srcset="./images/gallery/pc/4home.jpg, ./images/gallery/pc/4home@2x.jpg 2x, ./images/gallery/pc/4home@3x.jpg 3x"
                            type="image/jpg">

                        <source media=" (min-width: 768px)"
                            srcset="./images/gallery/tablet/4home.webp, ./images/gallery/tablet/4home@2x.webp 2x, ./images/gallery/tablet/4home@3x.webp 3x"
                            type="image/webp">

                        <source media=" (min-width: 768px)"
                            srcset="./images/gallery/tablet/4home.jpg, ./images/gallery/tablet/4home@2x.jpg 2x, ./images/gallery/tablet/4home@3x.jpg 3x"
                            type="image/jpg">

                        <source media="(max-width: 767px)"
                            srcset="./images/gallery/mob/4home.webp, ./images/gallery/mob/4home@2x.webp 2x, ./images/gallery/mob/4home@3x.webp 3x"
                            type="image/webp">

                        <source media="(max-width: 767px)"
                            srcset="./images/gallery/mob/4home.jpg, ./images/gallery/mob/4home@2x.jpg 2x, ./images/gallery/mob/4home@3x.jpg 3x"
                            type="image/jpg">
                        <img src="./images/gallery/mob/4home.jpg" alt="Ice-Cream" width="283" height="283.34" />
                    </picture>
                </div>
            </li>

            <li class="gallery__item-5">
                <div class="gallery__thumb">
                    <picture>
                        <source media="(min-width: 1200px)"
                            srcset="./images/gallery/pc/5home.webp, ./images/gallery/pc/5home@2x.webp 2x, ./images/gallery/pc/5home@3x.webp 3x"
                            type="image/webp">

                        <source media="(min-width: 1200px)"
                            srcset="./images/gallery/pc/5home.jpg, ./images/gallery/pc/5home@2x.jpg 2x, ./images/gallery/pc/5home@3x.jpg 3x"
                            type="image/jpg">

                        <source media=" (min-width: 768px)"
                            srcset="./images/gallery/tablet/5home.webp, ./images/gallery/tablet/5home@2x.webp 2x, ./images/gallery/tablet/5home@3x.webp 3x"
                            type="image/webp">

                        <source media=" (min-width: 768px)"
                            srcset="./images/gallery/tablet/5home.jpg, ./images/gallery/tablet/5home@2x.jpg 2x, ./images/gallery/tablet/5home@3x.jpg 3x"
                            type="image/jpg">

                        <source media="(max-width: 767px)"
                            srcset="./images/gallery/mob/5home.webp, ./images/gallery/mob/5home@2x.webp 2x, ./images/gallery/mob/5home@3x.webp 3x"
                            type="image/webp">

                        <source media="(max-width: 767px)"
                            srcset="./images/gallery/mob/5home.jpg, ./images/gallery/mob/5home@2x.jpg 2x, ./images/gallery/mob/5home@3x.jpg 3x"
                            type="image/jpg">
                        <img src="./images/gallery/mob/5home.jpg" alt="Ice-Cream" width="138" height="138.68"/>
                    </picture>
                </div>
            </li>

            <li class="gallery__item-6">
                <div class="gallery__thumb">
                    <picture>
                        <source media="(min-width: 1200px)"
                            srcset="./images/gallery/pc/6home.webp, ./images/gallery/pc/6home@2x.webp 2x, ./images/gallery/pc/6home@3x.webp 3x"
                            type="image/webp">

                        <source media="(min-width: 1200px)"
                            srcset="./images/gallery/pc/6home.jpg, ./images/gallery/pc/6home@2x.jpg 2x, ./images/gallery/pc/6home@3x.jpg 3x"
                            type="image/jpg">

                        <source media=" (min-width: 768px)"
                            srcset="./images/gallery/tablet/6home.webp, ./images/gallery/tablet/6home@2x.webp 2x, ./images/gallery/tablet/6home@3x.webp 3x"
                            type="image/webp">

                        <source media=" (min-width: 768px)"
                            srcset="./images/gallery/tablet/6home.jpg, ./images/gallery/tablet/6home@2x.jpg 2x, ./images/gallery/tablet/6home@3x.jpg 3x"
                            type="image/jpg">

                        <source media="(max-width: 767px)"
                            srcset="./images/gallery/mob/6home.webp, ./images/gallery/mob/6home@2x.webp 2x, ./images/gallery/mob/6home@3x.webp 3x"
                            type="image/webp">

                        <source media="(max-width: 767px)"
                            srcset="./images/gallery/mob/6home.jpg, ./images/gallery/mob/6home@2x.jpg 2x, ./images/gallery/mob/6home@3x.jpg 3x"
                            type="image/jpg">
                        <img src="./images/gallery/mob/6home.jpg" alt="Ice-Cream" width="138" height="138.68"/>
                    </picture>
                </div>
            </li>

            <li class="gallery__item-7">
                <div class="gallery__thumb">
                    <picture>
                        <source media="(min-width: 1200px)"
                            srcset="./images/gallery/pc/7home.webp, ./images/gallery/pc/7home@2x.webp 2x, ./images/gallery/pc/7home@3x.webp 3x"
                            type="image/webp">

                        <source media="(min-width: 1200px)"
                            srcset="./images/gallery/pc/7home.jpg, ./images/gallery/pc/7home@2x.jpg 2x, ./images/gallery/pc/7home@3x.jpg 3x"
                            type="image/jpg">

                        <source media=" (min-width: 768px)"
                            srcset="./images/gallery/tablet/7home.webp, ./images/gallery/tablet/7home@2x.webp 2x, ./images/gallery/tablet/7home@3x.webp 3x"
                            type="image/webp">

                        <source media=" (min-width: 768px)"
                            srcset="./images/gallery/tablet/7home.jpg, ./images/gallery/tablet/7home@2x.jpg 2x, ./images/gallery/tablet/7home@3x.jpg 3x"
                            type="image/jpg">

                        <source media="(max-width: 767px)"
                            srcset="./images/gallery/mob/7home.webp, ./images/gallery/mob/7home@2x.webp 2x, ./images/gallery/mob/7home@3x.webp 3x"
                            type="image/webp">

                        <source media="(max-width: 767px)"
                            srcset="./images/gallery/mob/7home.jpg, ./images/gallery/mob/5home@2x.jpg 2x, ./images/gallery/mob/7home@3x.jpg 3x"
                            type="image/jpg">
                        <img src="./images/gallery/mob/7home.jpg" alt="Ice-Cream" width="138" height="138.68"/>
                    </picture>
                </div>
            </li>

            <li class="gallery__item-8">
                <div class="gallery__thumb">
                    <picture>
                        <source media="(min-width: 1200px)"
                            srcset="./images/gallery/pc/8home.webp, ./images/gallery/pc/8home@2x.webp 2x, ./images/gallery/pc/8home@3x.webp 3x"
                            type="image/webp">

                        <source media="(min-width: 1200px)"
                            srcset="./images/gallery/pc/8home.jpg, ./images/gallery/pc/8home@2x.jpg 2x, ./images/gallery/pc/8home@3x.jpg 3x"
                            type="image/jpg">

                        <source media=" (min-width: 768px)"
                            srcset="./images/gallery/tablet/8home.webp, ./images/gallery/tablet/8home@2x.webp 2x, ./images/gallery/tablet/8home@3x.webp 3x"
                            type="image/webp">

                        <source media=" (min-width: 768px)"
                            srcset="./images/gallery/tablet/8home.jpg, ./images/gallery/tablet/8home@2x.jpg 2x, ./images/gallery/tablet/8home@3x.jpg 3x"
                            type="image/jpg">

                        <source media="(max-width: 767px)"
                            srcset="./images/gallery/mob/8home.webp, ./images/gallery/mob/8home@2x.webp 2x, ./images/gallery/mob/8home@3x.webp 3x"
                            type="image/webp">

                        <source media="(max-width: 767px)"
                            srcset="./images/gallery/mob/8home.jpg, ./images/gallery/mob/6home@2x.jpg 2x, ./images/gallery/mob/8home@3x.jpg 3x"
                            type="image/jpg">
                        <img src="./images/gallery/mob/8home.jpg" alt="Ice-Cream" width="138" height="138.68"/>
                    </picture>
                </div>
            </li>

            <li class="gallery__item-9">
                <div class="gallery__thumb">
                    <picture>
                        <source media="(min-width: 1200px)"
                            srcset="./images/gallery/pc/9home.webp, ./images/gallery/pc/9home@2x.webp 2x, ./images/gallery/pc/9home@3x.webp 3x"
                            type="image/webp">

                        <source media="(min-width: 1200px)"
                            srcset="./images/gallery/pc/9home.jpg, ./images/gallery/pc/9home@2x.jpg 2x, ./images/gallery/pc/9home@3x.jpg 3x"
                            type="image/jpg">

                        <source media=" (min-width: 768px)"
                            srcset="./images/gallery/tablet/9home.webp, ./images/gallery/tablet/9home@2x.webp 2x, ./images/gallery/tablet/9home@3x.webp 3x"
                            type="image/webp">

                        <source media=" (min-width: 768px)"
                            srcset="./images/gallery/tablet/9home.jpg, ./images/gallery/tablet/9home@2x.jpg 2x, ./images/gallery/tablet/9home@3x.jpg 3x"
                            type="image/jpg">

                        <source media="(max-width: 767px)"
                            srcset="./images/gallery/mob/9home.webp, ./images/gallery/mob/9home@2x.webp 2x, ./images/gallery/mob/9home@3x.webp 3x"
                            type="image/webp">

                        <source media="(max-width: 767px)"
                            srcset="./images/gallery/mob/9home.jpg, ./images/gallery/mob/9home@2x.jpg 2x, ./images/gallery/mob/9home@3x.jpg 3x"
                            type="image/jpg">
                        <img src="./images/gallery/mob/9home.jpg" alt="Ice-Cream" width="138" height="138.68"/>
                    </picture>
                </div>
            </li>

            <li class="gallery__item-10">
                <div class="gallery__thumb">
                    <picture>
                        <source media="(min-width: 1200px)"
                            srcset="./images/gallery/pc/10home.webp, ./images/gallery/pc/10home@2x.webp 2x, ./images/gallery/pc/6home@3x.webp 3x"
                            type="image/webp">

                        <source media="(min-width: 1200px)"
                            srcset="./images/gallery/pc/10home.jpg, ./images/gallery/pc/10home@2x.jpg 2x, ./images/gallery/pc/10home@3x.jpg 3x"
                            type="image/jpg">

                        <source media=" (min-width: 768px)"
                            srcset="./images/gallery/tablet/10home.webp, ./images/gallery/tablet/10home@2x.webp 2x, ./images/gallery/tablet/10home@3x.webp 3x"
                            type="image/webp">

                        <source media=" (min-width: 768px)"
                            srcset="./images/gallery/tablet/10home.jpg, ./images/gallery/tablet/10home@2x.jpg 2x, ./images/gallery/tablet/10home@3x.jpg 3x"
                            type="image/jpg">

                        <source media="(max-width: 767px)"
                            srcset="./images/gallery/mob/10home.webp, ./images/gallery/mob/10home@2x.webp 2x, ./images/gallery/mob/10home@3x.webp 3x"
                            type="image/webp">

                        <source media="(max-width: 767px)"
                            srcset="./images/gallery/mob/10home.jpg, ./images/gallery/mob/10home@2x.jpg 2x, ./images/gallery/mob/10home@3x.jpg 3x"
                            type="image/jpg">
                        <img src="./images/gallery/mob/10home.jpg" alt="Ice-Cream" width="138" height="138.68"/>
                    </picture>
                </div>
            </li>

        </ul>
    </div>
</section>