<header class="header__box container">
    <a class="logo " href="#">
        <img src="#" alt="logo">
    </a>

    <button class="mobile-menu__btn" type="button">
        <svg class="mobile-menu__icon" width="20" height="12">
            <use class="mobile-menu__burger"></use>
            <use class="mobile-menu__close"></use>
        </svg>
    </button>

    <div class="header__menu">

        <button class="btn btn--white" type="button">Buy now
            <svg class="btn__icon" width="4" height="8">
                <use href="#"></use>
            </svg>
        </button>

        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">Home</li>
                <li class="nav__item">About us</li>
                <li class="nav__item">How it’s made?</li>
                <li class="nav__item">Our products</li>
                <li class="nav__item">Contact</li>
            </ul>
        </nav>

    </div>
</header>