<header>
    <a class="logo " href="#">
        <img src="#" alt="logo">
    </a>

    <button class="mobile-menu__btn" type="button">
        <svg class="mobile-menu__icon" width="" height="">
            <use class="mobile-menu__burger"></use>
            <use class="mobile-menu__close"></use>
        </svg>
    </button>

    <div class="header__menu">
        <nav>
            <ul class="">
                <li>Home</li>
                <li>About us</li>
                <li>How it’s made?</li>
                <li>Our products</li>
                <li>Contact</li>
            </ul>
        </nav>
        <button class="btn" type="button">Buy now
            <svg>
                <use href="#"></use>
            </svg>
        </button>
    </div>
</header>