
<!DOCTYPE html>
<html lang="ru">
  <section>
    <!-- Products -->
    <div class="container">
      <p class="products_natural">100% natural</p>

      <h2 class="products">products</h2>

      <ul class="list">
        <li class="link">
          <div class="products_cover">
            <p class="products_tipe">ice cream</p>

            <p class="products_descr">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
            <button class="products_button" type="button">
              <svg class="products_icon">
                <use class="products_icon-img"></use>
              </svg>
            </button>
          </div>
        </li>

        <li class="link">
          <div class="products_cover">
            <p class="products_tipe">ice coffee</p>

            <p class="products_descr">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
            <button class="products_button" type="button">
              <svg class="products_icon">
                <use class="products_icon-img"></use>
              </svg>
            </button>
          </div>
        </li>

        <li class="link">
          <div class="products_cover">
            <p class="products_tipe">milkshakes</p>

            <p class="products_descr">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
            <button class="products_button" type="button">
              <svg class="products_icon">
                <use class="products_icon-img"></use>
              </svg>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </section>
</html>

