<!DOCTYPE html>
<html lang="ru">
  <section>
    <!-- Products -->
    <div class="container">
      <p class="products__natural">100% natural</p>

      <h2 class="products">products</h2>

      <ul class="list">
        <li class="link">
          <div class="products__cover">
            <h3 class="products__tipe">ice cream</h3>

            <p class="products__descr">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
            <button class="products__button btn__products" type="button">
              <svg class="products__icon">
                <use class="products__icon-img"></use>
              </svg>
            </button>
          </div>
        </li>

        <li class="link">
          <div class="products__cover">
            <h3 class="products__tipe">ice coffee</h3>

            <p class="products__descr">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
            <button class="products__button btn__products" type="button">
              <svg class="products__icon">
                <use class="products__icon-img"></use>
              </svg>
            </button>
          </div>
        </li>

        <li class="link">
          <div class="products__cover">
            <h3 class="products__tipe">milkshakes</h3>

            <p class="products__descr">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
            <button class="products__button btn__products" type="button">
              <svg class="products__icon">
                <use class="products__icon-img"></use>
              </svg>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </section>
</html>
