<section>
    <!-- Products -->
    <div class="container">
      <p class="upertitle products__natural">100% natural</p>

      <h2 class="title products">products</h2>

      <ul class="product__carts">
        <li class="">
          <div class="products__cover products__cover--pinc">
            <h3 class="products__tipe">ice cream</h3>
            <div class="list">
              <div class="product__overlay">
                <p class="products__descr">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Exercitationem quaerat quas quia sed veritatis!
                </p>
              </div>
              <p class="products__descr">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et
              </p>
            </div>
            <button class="products__button btn__products" type="button">
              <svg
                class="products__icon"
                width="12"
                height="12"
                viewBox="0 0 512 512">
                <path
                  d="M318.431 464.716l182.857-182.857c14.283-14.281 14.283-37.438 0-51.72l-182.857-182.857c-14.283-14.281-37.438-14.281-51.72 0-14.282 14.282-14.282 37.438 0 51.72l120.427 120.427h-350.566c-20.198 0-36.572 16.374-36.572 36.572s16.373 36.572 36.572 36.572h350.566l-120.427 120.426c-7.14 7.14-10.711 16.5-10.711 25.86s3.57 18.719 10.711 25.86c14.283 14.283 37.438 14.283 51.72 0z">
                </path>
              </svg>
            </button>
          </div>
        </li>

        <li class="">
          <div class="products__cover products__cover--broun">
            <h3 class="products__tipe">ice coffee</h3>
            <div class="list">
              <div class="product__overlay">
                <p class="products__descr">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Exercitationem quaerat quas quia sed veritatis!
                </p>
              </div>
              <p class="products__descr">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et
              </p>
            </div>
            <button class="products__button btn__products" type="button">
              <svg
                class="products__icon"
                width="12"
                height="12"
                viewBox="0 0 512 512">
                <path
                  d="M318.431 464.716l182.857-182.857c14.283-14.281 14.283-37.438 0-51.72l-182.857-182.857c-14.283-14.281-37.438-14.281-51.72 0-14.282 14.282-14.282 37.438 0 51.72l120.427 120.427h-350.566c-20.198 0-36.572 16.374-36.572 36.572s16.373 36.572 36.572 36.572h350.566l-120.427 120.426c-7.14 7.14-10.711 16.5-10.711 25.86s3.57 18.719 10.711 25.86c14.283 14.283 37.438 14.283 51.72 0z">
                </path>
              </svg>
            </button>
          </div>
        </li>

        <li class="">
          <div class="products__cover products__cover--green">
            <h3 class="products__tipe">milkshakes</h3>
            <div class="list">
              <div class="product__overlay">
                <p class="products__descr">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Exercitationem quaerat quas quia sed veritatis!
                </p>
              </div>
              <p class="products__descr">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et
              </p>
            </div>
            <button class="products__button btn__products" type="button">
              <svg
                class="products__icon"
                width="12"
                height="12"
                viewBox="0 0 512 512">
                <path
                  d="M318.431 464.716l182.857-182.857c14.283-14.281 14.283-37.438 0-51.72l-182.857-182.857c-14.283-14.281-37.438-14.281-51.72 0-14.282 14.282-14.282 37.438 0 51.72l120.427 120.427h-350.566c-20.198 0-36.572 16.374-36.572 36.572s16.373 36.572 36.572 36.572h350.566l-120.427 120.426c-7.14 7.14-10.711 16.5-10.711 25.86s3.57 18.719 10.711 25.86c14.283 14.283 37.438 14.283 51.72 0z">
                </path>
              </svg>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </section>