:root {
  // fonts
  --main-txt: 'DM Sans', sans-serif;
  --secondori-txt: 'Titan One', cursive;

  //   color txt
  --white-txt: #fff;
  --black-txt: #000;
  --accent-cl-txt: #d41443;
  --uppertitle-cl: #FFA5BA
  --grey-txt: #907E82;
  --brown-txt: #F0D1A5

  //   color bg
  --hero-bg: #ffb8ca;
  --light-green: #C2E297;
  --light-pink-red:#FFF5F6;
  --coment-bg: #FAFAFA;

  //   others color
  --slick-point: #c7133e;
  --slick-btn-cl: #D9D9D9;
  --slick-accent-cl: #D31342;
  --line-cl: #E1E1E1;
  --social-cl: #FEA5BB;
  --addres-btn-cl: #D41342;
  --accent-cl-btn: #ECEBEB;
}