.btn {
  display: block;
  min-width: 161px;
  min-height: 44px;

  padding: 11.5px 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  text-align: center;

  border: 0;
  border-radius: 22px;
}

.btn--red {
  color: var(--white-txt);
  background: var(--accent-cl-txt);

  @media screen and (min-width: 768px) {
    min-width: 191px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 198px;
  }
}

.btn--white {
  color: var(--accent-cl-txt);
  background-color: var(--white-txt);

  &:hover,
  &:focus {
    background-color: var(--accent-cl-btn);
  }

  @media screen and (min-width: 768px) {
    min-width: 174px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 168px;
  }
}

.btn__products {
  border-radius: 50%;
}

.btn__modal {
  min-width: 209px;

  @media screen and (min-width: 768px) {
    min-width: 186px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 159px;
  }
}

.btn__about {
  min-width: 176px;

  font-size: 14px;
  line-height: 1.28;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.31;
  }
}
