.visually-hidden {
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

// .card-set {
//   display: flex;
//   flex-wrap: wrap;
//   gap: var(--indent);
// }

// .card-set__item {
//   flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
// }

.gallery-container {
  background: linear-gradient(
    to bottom,
    #fff5f6 0%,
    #fff5f6 16%,
    #fff 16%,
    #fff 100%
  );

  @media screen and (min-width: 768px) {
    background: linear-gradient(
      to bottom,
      #fff5f6 0%,
      #fff5f6 36%,
      #fff 36%,
      #fff 100%
    );
  }

  @media screen and (min-width: 1200px) {
    background: linear-gradient(
      to bottom,
      #fff5f6 0%,
      #fff5f6 16%,
      #fff 16%,
      #fff 100%
    );
  }

  height: 136px;

  @media screen and (min-width: 768px) {
    height: 327px;
  }

  @media screen and (min-width: 768px) {
    height: 430px;
  }
}

.gallery {
  // background: linear-gradient(
  //   to bottom,
  //   #fff5f6 0%,
  //   #fff5f6 17%,
  //   #fff 17%,
  //   #fff 100%
  // );
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-left: 93px;
    padding-right: 94px;
    padding-bottom: 120px;
  }
}

.gallery-list {
  display: flex;
  // flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2.5px;

  @media screen and (min-width: 768px) {
    gap: 6.07px;
  }

  @media screen and (min-width: 768px) {
    gap: 8px;
  }
}

// .gallery-item {
// flex-basis: 44px;
// padding-bottom: 2.52px;
// }

.gallery-thumb {
  margin-bottom: 2.52px;

  @media screen and (min-width: 768px) {
    margin-bottom: 6.05px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 7.98px;
  }
}
