.gallery__section {
  visibility: visible;
  animation-name: fadeInRightBig;

  animation-duration: 1s;
  animation-fill-mode: both;

  padding-top: 30px;
  padding-bottom: 30px;

  background: linear-gradient(
    to bottom,
    #fff5f6 0%,
    #fff5f6 16%,
    #fff 16%,
    #fff 100%
  );

  @media screen and (max-width: 768px) {
    width: 100%;
    background-image: linear-gradient(
      to bottom,
      #fff5f6 0%,
      #fff5f6 55%,
      #fff 55%,
      #fff 100%
    );
  }

  @media screen and (min-width: 1200px) {
    background: linear-gradient(
      to bottom,
      #fff5f6 0%,
      #fff5f6 28%,
      #fff 28%,
      #fff 100%
    );

    padding-top: 60px;
    padding-bottom: 60px;
  }

  .gallery__container {
    visibility: visible;
    animation-name: fadeInRightBig;

    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    @media screen and (min-width: 320px) {
      width: 320px;
      margin: 0 auto;
    }

    @media screen and (min-width: 768px) {
      width: 740px;
    }

    @media screen and (min-width: 1200px) {
      width: 1013px;
    }
  }

  .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .gallery__list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;

    @media screen and (min-width: 768px) {
      gap: 5px;
    }
  }

  .gallery__thumb {
    border-radius: 20px;
    animation-name: scale;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
      transform: scale(1.07);
      cursor: pointer;
    }
  }

  .gallery__thumb,
  img {
    border-radius: 10%;
    vertical-align: top;
  }

  .gallery__item-1 {
    grid-row-start: 4;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .gallery__item-2 {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .gallery__item-3 {
    grid-row-start: 6;
    grid-row-end: 9;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .gallery__item-4 {
    grid-row-start: 1;
    grid-row-end: 7;
    grid-column-start: 3;
    grid-column-end: 5;
  }

  .gallery__item-5 {
    grid-row-start: 7;
    grid-row-end: 10;
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .gallery__item-6 {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 5;
    grid-column-end: 6;
  }

  .gallery__item-7 {
    grid-row-start: 6;
    grid-row-end: 9;
    grid-column-start: 5;
    grid-column-end: 6;
  }

  .gallery__item-8 {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 6;
    grid-column-end: 7;
  }

  .gallery__item-9 {
    grid-row-start: 5;
    grid-row-end: 8;
    grid-column-start: 6;
    grid-column-end: 7;
  }

  .gallery__item-10 {
    grid-row-start: 4;
    grid-row-end: 7;
    grid-column-start: 7;
    grid-column-end: 8;
  }

  // animation
  .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  @keyframes fadeInRightBig {
    0% {
      opacity: 0;
      transform: translateX(2000px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .fadeInRightBig {
    animation-name: fadeInRightBig;
  }
}
