.header__box{
    background-color: transparent;
}


.header__menu{
    width: 250px;
    height: 502px;

    padding-top: 60px;
    padding-left: 20px;

    background-color: #E17992

}

.nav__item{
    border: 1px solid #E18298;
    padding-top: 12px;
    padding-bottom: 12px;

    font-family: var(--main-txt);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.19;

    color: var(--white-txt);
}