.hero {
  position: relative;

  background-color: var(--hero-bg);

  min-height: 416px;
}

.hero__circle {
  background-color: var(--uppertitle-cl);

  width: 346px;
  height: 344px;

  margin-left: 16px;

  border-radius: 50%;

  @media screen and (min-width: 768px) {
    position: absolute;

    top: 43px;
    left: 216px;

    width: 335px;
    height: 333px;
    margin: 0;
  }
}

.hero__desc {
  position: absolute;

  top: 194px;

  @media screen and (min-width: 768px) {
    top: 102px;
    left: 32px;
  }
}

.hero__upertitle {
  font-family: var(--secondori-txt);
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--white-txt);

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.13;
  }
}

.hero__title {
  font-family: var(--secondori-txt);

  font-weight: 400;
  font-size: 48px;
  line-height: 0.95;

  margin-bottom: 20px;

  text-transform: uppercase;

  color: var(--accent-cl-txt);

  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 0.91;

    letter-spacing: 0.04em;
  }
}

.hero__btn {
  display: inline-block;

  font-weight: 400;

  text-align: center;
}
