.hero {
  background-color: var(--hero-bg);
  position: relative;
}

.hero__circle {
  background-color: var(--uppertitle-cl);

  width: 346px;
  height: 344px;

  border-radius: 50%;
}

.hero__desc {
  position: absolute;
  top: 194px;
}

.hero__upertitle {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--white-txt);
}

.hero__title {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 0.95;

  margin-bottom: 20px;

  text-transform: uppercase;

  color: var(--accent-cl-txt);
}

.hero__btn {
  display: inline-block;

  font-family: 'DM Sans';

  font-style: normal;
  font-weight: 400;

  text-align: center;
}
